<div class="panel panel-defalut">
	<div class="panel-heading">
		<div class="panel-title">
			<h1>New pin</h1>
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
		<%= link_to 'Back', pins_path %>
	</div>
</div>